In [1]:
%pylab inline
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [ ]:
http://www.clinecenter.illinois.edu/data/speed/event/

In [2]:
protests = pd.read_csv('ssp_public.csv')
protests.head()

,cowcode,month,year,eventid,country,INI_IGRP1,TAR_IGRP1,VIC_IGRP1,INI_SGRP1,TAR_SGRP1,...,PERS_SECURITY,QUASI_EVENT,coup,COUP_FAILED,region,ctry_bias,victim_effect,weapon,property_damaged,property_owner
0,NaN,NaN,1946,EID40124,NaN,.,.,.,.,.,...,0,0,0,0,NaN,NaN,1,1,NaN,NaN
1,NaN,NaN,1946,EID51193,NaN,.,.,.,.,.,...,0,0,0,0,NaN,NaN,NaN,1,NaN,NaN
2,NaN,11,1948,EID133296,NaN,.,.,.,.,.,...,0,0,0,0,NaN,NaN,13,1,NaN,NaN
3,NaN,9,1951,EID102797,NaN,.,.,.,.,.,...,0,0,0,0,NaN,NaN,13,13,NaN,NaN
4,NaN,7,1952,EID257135,NaN,.,.,.,.,.,...,0,0,0,0,NaN,NaN,13,1,NaN,NaN